<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hackathon Suite</title>
    <link
      href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap"
      rel="stylesheet"
    />
    {{!-- Stylesheet links for bootstrap and CSS --}}
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheet/style.css" />
  </head>

  {{!-- Navbar section --}}
  <body class="flex-column min-80-vh">
      <body class="flex-column min-80-vh background">
    <nav
      class="navbar navbar-expand-lg navbar-light bg-light shadow-lg p-3 mb-5 bg-white fixed-top"
    >
      <div class="container">
        <a class="navbar-brand"> </a>
        <button
          class="navbar-toggler"
          type="button"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a
                class="nav-link text-white"
                href="/"
              >Home</a></li>
            <li class="nav-item"><a
                class="nav-link text-white"
                href="/dashboard"
              >Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/api/project">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-white"
                href="#"
                id="logout-link"
              >Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {{!-- Header with title --}}
    <header class="hero">
      <h1 class="app-title .text-black">Dashboard</h1>
    </header>

    {{!-- Renders body to the display card --}}
     <main class="about-text bio-text col-auto">
      <div class="card-dash">
      <div class="card-body">
        {{{body}}}
      <p class="card-text"></p>
      <main class="col-auto">
  </body>

  {{!-- Javascript links --}}
  <script src="/javascript/logout.js"></script>
  <script src="/javascript/edit.js"></script>
  <script src="/javascript/delete.js"></script>
  <script src="/javascript/project.js"></script>
  <script src="/javascript/homeprojects.js"></script>


</html>