body {
  background-color: black !important;
}

.navbar {
  background-color: blueviolet !important;
  height: 75px;
}

.navbar-toggle .project-button {
  background: indigo !important;
}

.navbar .nav-link {
  float: right;
}

.project-button {
  background-color: blueviolet !important;
  border-radius: 25px;
  width: 270px;
  height: 50px;
}
.dash-proj {
  margin-top: 9rem !important;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  display: inline-block;
  justify-content: space-around;
  /* height: 300px; */
}

.mb3 {
  margin-left: 30px;
}
.img-fluid {
  border-radius: 25px;
  background: black;
  padding: 20px;
  width: 270px;
  height: 15rem;
}

.startup-name {
  color: blueviolet;
}

.card .homepage-cards {
  display: flex;
  background-color: blue;
}

h1 {
  color: white;
  margin-top: 150px;
  text-align: left;
}

h3 {
  color: white;
}

h4 {
  color: white;
  margin-top: 20px;
  text-align: left;
}

.homeSignUpBtn {
  background-color: blueviolet;
  color: white;
  border-radius: 20px;
  border-bottom: 20px;
  border-left: 30px;
  border-right-width: 0ch;
}

hr {
  color: white;
}

#login-btn {
  background-color: blueviolet;
  border-radius: 25px;
  color: white;
}
#signup-btn {
  background-color: blueviolet;
  border-radius: 25px;
  color: white;
}
.card-login {
  background-color: black;
  color: white;
}

.login-C {
  margin-top: 9rem !important;
  margin-left: 7rem !important;
}

.navbar-dash {
  background-color: blueviolet !important;
  height: 75px;
}

.navbar-dash-toggler {
  background: indigo !important;
}

.about-text {
  color: white;
}

.bio-text {
  color: black;
}

.home-image1 {
  margin-top: 9rem !important;
}

.joinTitle {
  color: white;
  text-align: left;
}

.joinCom {
  color: white;
  margin-top: 20px;
  text-align: left;
}

.desc-1 {
  color: white;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}
.hrbreak {
  color: white;
}

.logonumbers {
  display: inline;
}

.textCenter {
  display: inline-block;
}

.footerText {
  display: inline-block;
}
hr {
  color: white;
}

footer {
  margin-left: 160px;
  position: fixed;
  bottom: 0;
}

.site-footer {
  display: none;
}
.card-text {
  color: black;
}

.card-image-top {
  max-height: 450px;
  max-width: 400px;
  border-radius: 25px;
}

.app-title {
  color: rgb(169, 89, 244);
  margin-left: 35px;
}
