<div class="container login">

<div class="card">
  {{!-- @TODO display image --}}
  <img for="img" src="../public/Image/{{loginSignUp}}.jpeg" alt="Login" style="width: 200px; height: 200px">
</div>

<div class="card">
  <div class="card-header">
    <h2>Login</h2>
  </div>
  <form id="login-form" class="card-body">
    <div>
      <label for="username-input-login">Username</label>
      <input type="text" id="username-input-login" />
    </div>
    <div>
      <label for="password-input-login" class="form-label">Password</label>
      <input type="password" id="password-input-login" />
    </div>
    <button type="submit" id="login-btn" class="btn">Login!</button>
    <a type="button" href="/signup">Sign up </a>
  </form>
</div>

</div>

<script src="/javascript/login.js"></script>